<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>todo</mat-label>
      <input matInput #message maxlength="256" placeholder="todos...">
      <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint> -->
      <!-- <mat-hint align="end">{{message.value.length}} / 256</mat-hint> -->
    </mat-form-field>
 
  </form>
  <div class="text-right">
    <button mat-raised-button color="accent" 
    
    (click)="addTodo(message)">add todo</button>

</div>